[Unit]
Description=Run the echoIRCd liveness probe periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s

[Install]
WantedBy=timers.target
